body {
    font-family: "Roboto", sans-serif;
    color:  #434455;
    background-color: #FFFFFF;
}

.container { 
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    }

p,  
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin-top: 0;
    margin-bottom: 0;
    }

img {
    display: block;
}    


a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}
.section{
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }


/**----HEADER----**/
.header {
    border-bottom: 1px solid #e7e9fc;
    
}


.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation{
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo-header {
    display: flex;
    margin-right: 76px;
    width: 44px;
    color: #4D5AE5;
    font-family:"Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-menu{
    display: flex;
    gap: 40px;
    margin-left: 76px;
    height: 72px;

    
}

.logo-header-color {
    color:#2E2F42;
}

.header-menu-link {
    color: #2E2F42 ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.header-menu-studio:active {
    color: #404bbf;
    flex-shrink: 0;
}
.current{
    position: relative;
}
.current::after {
    content: '';
    display: block;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    margin-top: 20px;
    background-color: rgba(64, 75, 191, 1);
    ;
    }

.address{
    font-style: normal;
}

.header-address{
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.header-address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

.header-address-link{
    color: #434455;
  }

.header-address-link:hover {
    color: #404BBF; 
}

.header-address-link:focus {
    color: #404BBF; 
}

.header-menu-link:hover {
    color: #404BBF;
}

.header-menu-link:focus{
    color: #404BBF;
}

.header-address-item:focus{
background-color: #404BBF;
}

  /* HERO */
.hero{
    padding: 188px 0;
    background-color:  #2E2F42;
    background-image: linear-gradient(  
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(/images/people-office.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
}

.hero-container{
    flex-direction: column;

    
}
.hero-title {
    max-width: 496px;
    text-align: center;
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
  }

.hero-button {
    /* box */
    display: block;
    gap: 10px;
    min-width: 169px;
    padding: 16px 32px;
    margin-top: 48px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    height: 56px;
    border: none;
    /* text */
    color: #FFF;
    background-color: #4D5AE5;
    font-family: inherit;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;

}

/*----features----*/
.features {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
    background-color: #FFF  ;
}
.features-item {
    background-color:  #FFF;
    width: calc(100% - 72px * 4);
}
.features-subtitle {
    color:  #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.features-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}


/*----Team----*/

.team {
    display: block;
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-container {
    display: flex;
    gap: 24px;
    flex-direction: column;    
}

.team-img{
    display: block;
    gap: 24px;
	max-width: 100%;
}

.team-title {  
    color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height:1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    background-color: #F4F4FD;  
    
}

.team-card {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-s {
    padding: 32px 0;
}

.team-subtitle {
    color:#2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-position {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
   


/*----portfolio----*/
.portfolio{
    padding-top: 120px; 
    padding-bottom: 120px; 
}

 .portfolio-img {
     display: block;
     width: 100%;
 }
 .portfolio-subtitle {
     margin-bottom: 8px;
 }
 .portfolio-text {
     padding: 32px 16px;
     border: 1px solid #e7e9fc;
     border-top: none; 
 }
 .portfolio-card {
     display: flex;
     flex-wrap: wrap;
     column-gap: 24px;
     row-gap: 48px;
     margin: auto;
 }
 .portfolio-item {
     background-color: var(--WHITE, #FFF);
     width: calc((100% - 48px) / 3); 
     
 }
 .portfolio-title {
     margin-bottom: 72px;
     color: var(--NAVY-BLUE, #2E2F42);
     text-align: center;
     font-family: Roboto;
     font-size: 36px;
     font-style: normal;
     font-weight: 700;
     line-height: 40px; /* 111.111% */
     letter-spacing: 0.72px;
     text-transform: capitalize;

 }
 .portfolio-subtitle {
     margin-bottom: 8px; 
     color:#2E2F42;
     font-size: 20px;
     font-weight: 500;
     line-height: 1.20;
     letter-spacing: 0.02em;
 }
 .portfolio-content {
     color:#434455;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }
/*----footer----*/
.footer { 
    padding: 100px 0;
    background-color:  #2E2F42;
}

.footer-logo {
    display: inline-block; 
    margin-bottom: 16px; 
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

.footer-logo-color {
   color: #F4F4FD;
   }

.footer-text {
    max-width: 264px;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    border-left: 156px;
}